@page "/people"

<PageTitle>People</PageTitle>

@if (People != null)
{
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>DateOfBirth</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in People)
            {
                <tr>
                    <td>@person.Id</td>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.DateOfBirth</td>
                    <td>@person.Age</td>
                </tr>
            }
        </tbody>
    </table>
    
}